
.imagebar-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
    height: 100%;
}

.imagebar-wrap-small {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
    height: 100%;
}

.imagebar-all-img-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: fit-content;
    background-color: whitesmoke;
    border-radius: 5px;
}

.imagebar-image-wrap {
    flex: auto;
    min-width: 152px;
    min-height: 172px;
    max-width: 152px;
    max-height: 172px;
    margin: 3px 10px 3px 10px;
    border: 1px solid darkgray;
    border-radius: 7px;
    background: content-box linear-gradient(white, lightblue);
    background-clip: content-box;
    overflow: hidden;
}

.imagebar-image-wrap-small {
    flex: auto;
    min-width: 49px;
    min-height: 69px;
    max-width: 49px;
    max-height: 69px;
    margin: 3px 10px 3px 10px;
    border: 1px solid darkgray;
    border-radius: 7px;
    background: content-box linear-gradient(white, lightblue);
    background-clip: content-box;
    overflow: hidden;
}

.imagebar-image {
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
}

.imagebar-image-small {
    min-width: 47px;
    min-height: 47px;
    max-width: 47px;
    max-height: 47px;
}

.imagebar-image-label {
    margin-left: 3px;
    font-size: smaller;
    font-weight: normal;
    text-align: center;
    color: black;
    white-space: nowrap;
}

.imagebar-image-label-small {
    font-size: x-small;
    font-weight: normal;
    text-align: center;
    color: black;
    white-space: nowrap;
}
