
.plotclip-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.plotclip-image-wrap {
    flex: auto;
    min-width: 502px;
    min-height: 502px;
    max-width: 502px;
    max-height: 502px;
    border: 1px solid darkgray;
    border-radius: 3px;
}

.plotclip-image-grid {
    display: grid;
    height: 500px;
    width: 500px;
}

.field_bounds {
    grid-column: 1;
    grid-row: 1;
    z-index: 99999;
    pointer-events: none;
}

.plotclip-toolbar-wrap {
    height: 500px;
    margin-left: 10px;
}

.plotclip-bounds-done {
}

.plotclip-plots-done {    
}

.plotclip-tool-actions {
    height: 500px;
}

.plotclip-tool-details-wrap {
}

.tool-options-plot-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top:10px;
}

.field_image_wrapper {
    grid-column: 1;
    grid-row: 1;
    cursor: crosshair;
}

.field_image {
    width:100%;
    height:100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: content-box;
}

#field_corner {
    pointer-events: fill;
}

#field_corner:hover {
    cursor: move;
}
